<!DOCTYPE html>
<html>
<head>
<%= stylesheet_link_tag "application", media: "all" %>

  <title>LaboratoireLog210</title>

 <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</head>
<body>
<div class="headerGreen"></div>
<div class="backgroundBlue">
    <div class="bodyWhite">

<%= yield %>


        <div style="clear:both;"></div>
		<% if !current_page?("/") %>
            <div style="padding:25px;"><%= link_to "Retour au menu des services", root_path%></div>
		<% end %>
        <div class="littleGreenLine"></div>
        <div class="endPage"></div>
    </div>
</div>
</body>

</html>